@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@1,200&family=Open+Sans:ital@1&family=Roboto:ital,wght@1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 500;
  margin-bottom: 10px;
}

.app-title {
  color: #0ab90a;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 50px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading p {
  color: #828282;
}
.form,
.content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  padding: 10px 15px;
  border: 1px solid rgb(173, 157, 157);
  border-radius: 5px;
  background: #0ab90a;
  font-size: 16px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.make-cursive {
  font-family: cursive, sans-serif;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 30%;
  margin-bottom: 20px;
  display: inline;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  transform: scale(0.98);
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(228, 236, 112, 0.952);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

.guide {
  text-align: center;
  font-size: 0.83rem;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: #080807;
}

.hospital {
  box-sizing: border-box;
  border: 2px solid rgb(238, 232, 232);
  display: inline-block;
  border-radius: 1.5rem;
  margin: 20px;
  padding: 20px;
  background-color: rgb(228, 228, 228);
}

.info-hospital {
  text-align: center;
}

.hospital-name {
  color: #363634;
}
.hospital-location {
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.hospital-email {
  font-weight: 700;
}
.info-time {
  color: #555;
  font-size: 13px;
  font-family: sans-serif;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}
